{% extends 'base.html.twig' %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<h1>Hello {{ app.user.username }}</h1>
<a href="{{ path('app_panel') }}">Panel</a>
<a href="{{ path('app_logout') }}">Logout</a>

{% else %}

<a href="{{ path('app_login') }}">Login</a>
or
<a href="{{ path('app_register') }}">Register</a>
{% endif %}

<hr>

here's 10 random websites:

<ul>
{% for website in websites %}
	<li>
		<a href="{{ path('app_website', {'user': website.username, 'slug': '' }) }}">{{ website.username }}</a>
		<em>{{ website.website.description }}</em>
	</li>
{% endfor %}
</ul>

{% endblock %}
