{% extends 'base.html.twig' %}

{% from '_bytes_to_size.twig' import bytesToSize %}

{% block title %}Hello {{ app.user.username }}!{% endblock %}

{% block body %}

<a href="{{ path('app_home') }}">Back</a>

<hr>

<b>{{ app.user.username }}'s website!</b>

<p>
Quota used: <span hx-trigger="quota-update from:body" hx-get="{{ path('get_quota') }}">{{ bytesToSize(app.user.QuotaUsed * 512) }} / {{ bytesToSize(app.user.QuotaLimit * 512) }}</span>
</p>

{{ include('_info_form.html.twig') }}

<hr>

{{ render(path('file_get', {id: root_inode})) }}

{% endblock %}
