
{% from '_bytes_to_size.twig' import bytesToSize %}

<div id="listing">

<div id="error"></div>

<div id="filepath">{{ render(path('get_filepath', {id: root_inode})) }}</div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Last Modified</th>
        </tr>
    </thead>
    <tbody>
{% for file in files %}
    <tr>
        {% if not loop.first or is_root_dir %}
        <td>
            {% if file[2] == -1 %}
                <a href=""
                    hx-target="#listing"
                    hx-swap="outerHTML"
                    hx-get="{{ path('file_get', {'id': file[0]}) }}"
                >→</a>
                <input
                    hx-post="{{ path('file_update', {id: file[0]}) }}"
                    hx-trigger="focusout"
                    hx-target="#listing"
                    hx-swap="outerHTML"
                    hx-target-4*="#error"
                    type="text"
                    name="name"
                    value="{{ file[1] }}"
                />
            {% else %}
                <a href="{{ path('file_get', {id: file[0]}) }}">→</a>
                <input
                    hx-post="{{ path('file_update', {id: file[0]}) }}"
                    hx-trigger="focusout"
                    hx-target="#listing"
                    hx-swap="outerHTML"
                    hx-target-4*="#error"
                    type="text"
                    name="name"
                    value="{{ file[1] }}"
                />
            {% endif %}
        </td>
        <td>{{ file[2] == -1 ? '[DIR]' : bytesToSize(file[2]) }}</td>
        <td>{{ file[3]|date('Y-m-d H:i:s') }}</td>
        <td>
                <button hx-swap="outerHTML" hx-target="#listing" hx-target-4*="#error" hx-delete="{{ path('file_delete', {'id': file[0]}) }}">Delete</button>
        </td>
        {% else %}
        <td>
            <a hx-target="#listing" hx-swap="outerHTML" hx-get="{{ path('file_get', {'id': file[0]}) }}" href="">→</a>
            ..
        </td>
        <td>[DIR]</td>
        {% endif %}
    </tr>
{% endfor %}
    </tbody>
</table>

<form
    hx-post="{{ path('file_mkdir', {id: root_inode }) }}"
    hx-target="#listing"
    hx-target-4*="#error"
    hx-swap="outerHTML"
>
    <input type="text" name="name">
    <button type="submit">mkdir</button>
</form>

{{ render(path('file_create', {id: root_inode})) }}

</div>
